<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn REST API</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="container">
        <h1 class="top">LEARN REST API !</h1>
        <button class="btn" id="getBtn">GET</button>
        <button class="btn" id="postBtn">POST</button>
        <button class="btn" id="patchBtn">PATCH</button>
        <button class="btn" id="updateBtn">UPDATE</button>
        <button class="btn" id="deleteBtn">DELETE</button>
        <p class="top">Using Node.js</p>
        <div id="content"></div>
        
    
    </div>
    
<script src="/js/script.js"></script>
    
</body>

</html>